:root {
  --bg-color: #f1f2f6;
  --title-color: #1777f2;
  --subtitle-color: #1d1e22;
  --pb-bg-color: #1878f3;
  --placeholder-color: #8f9092;
  --input-tx-color: #1d212a;
  --border-fa-color: #1a74e2;
  --border-color: #dedfe3;
  --outline-color: rgba(26, 116, 226, 0.1);
  --b-bg-color: #42b72a;
  --outline-green: rgba(66, 183, 42, 0.2);

  --gap-lg-inline: 50rem;
}

.body {
  display: block;
  width: var(--gap-inline);
  margin-inline: auto;
  padding-block: 2rem;
  text-align: center;
}

body {
  background-color: var(--bg-color);
}
